<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Blog posts by Lars Thorup">
  <title>{{title}} - Lars Thorup</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

{{ content }}

<footer>
  <div class="edit">
    <a href="https://gitlab.com/larsthorup/larsthorup.gitlab.io/blob/main/{{ page.inputPath }}">
      Edit on GitLab
    </a>
  </div>
</footer>

</body>
</html>
